body{
    margin: 0;
    padding: 0;
    background: #4C6663;
    color: #363732;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    position: relative;
    min-height: 100vh;
  }

.container{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    text-align: center;
}

.container h1{
    font-size: 100px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    
}

.container h2{
    color:  #EF6351;
    font-size: 30px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 15px;
}




#index{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(100px,auto);
}
form{
    grid-column: 6/12;
    grid-row: 3;
    border: 1px solid #80808000;
    height: 400px;
    width: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: center;
    border-radius: 7px;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: #C9D7F8;
}
input{
    display: block;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid #D4C5E2;
    margin-top: 6px;
    margin-bottom: 10px;
    outline-style: none;
    border-radius: 7px;
    padding: 7px;
    width: 80%;
}
#submit {
    color: #C9D7F8;
    font-weight: 900;
    padding: 7px;
    width: 100px;
    border-radius: 10px;
    border: none;
    bottom: 10px;
    background: #363732;
    
}
input#submit:hover{
 
    background: linear-gradient(to right, #fc466b, #3f5efb); 
}
label {
    margin-left: -145px;
    display: block;
    font-weight: 600;
}
#name{
    color: #363732;
    align-self: center;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Trebuchet MS'
}
.member{
    grid-column: 6/12;
    grid-row: 3;
    border: 1px solid #80808000;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: center;
    border-radius: 7px;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: #C9D7F8;   
}
.avatar{
    height: 200px;
    width: 200px;
    border: 1px solid #80808000;
    padding: 7px;
    align-self: flex-start;
    background-color: #C9D7F8;
    align-content: flex-start;
    font-weight: 600;
    padding: 23px;
    width: 575px;
    height: 200px;
    border-radius: 5px;
    border: none;
    bottom: 10px;
    text-align: left;
}

.member .info{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -190px;
    margin-left: 200px;
    line-height: 1.5;
    font-weight: lighter;
    font-size: 18px;
    
}
.member img{
    margin-top: -10px;
    margin-left: 20px;
}
.member a{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    color: #C47335;
    font-weight: 700;
    font-size: 26px;
}

td{
    padding: 5px;
}
#home{
    text-align: center;
    background-color: #D4C5E2;
    color: #4C6663;
    
}
#home a{
    color: inherit;
    font-size: 40px;
    font-weight: 900;
}